@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rgb: 255, 255, 255;
  --background-rgb: 38, 61, 80;
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--color-rgb));
}

h1 {
  font-family: 'Marcellus', serif;
}

footer {
  font-family: 'Marcellus', serif;
  @apply block py-4 mx-auto text-center italic text-xs;
}