@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rgb: 255, 255, 255;
  --background-rgb: 38, 61, 80;
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--color-rgb));
}

h1 {
  font-family: 'Marcellus', serif;
}

footer {
  font-family: 'Marcellus', serif;
  @apply block py-4 mx-auto text-center italic text-xs;
}

.heroHeading {
  @apply text-4xl md:text-8xl pt-8 md:pt-0  md:mt-8;
}

.heroHeading small {
  @apply font-sans font-light text-base md:text-xl tracking-wider block pt-4 md:leading-loose;
}