.floralHeader {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flor alHeader .image {
}

.floralHeader h1 {
    @apply text-4xl md:text-8xl pt-8 md:pt-0;
}

.floralHeader h1 small {
    @apply font-light text-base md:text-3xl block pt-4 leading-6;
}