.cameraButton {
    @apply relative overflow-hidden flex mx-5 px-2 py-36 border-2 border-dashed justify-center items-center rounded-xl bg-cover bg-no-repeat bg-center aspect-[3/4] text-sm md:text-base;
    @apply w-72 text-center; 
    border-color: rgb(var(--color-rgb));
}

.cameraButtonLabel {
    @apply flex flex-col;
}
.cameraButtonLabel svg {
    @apply fill-white w-12 md:w-20 h-auto mx-auto mb-4 md:mb-10;
}

/* This is the part that actually hides the 'Choose file' text box for camera inputs */
.cameraButton input[type="file"] {
    display: none;
}

.cameraButton .loadingOverlay {
    @apply absolute w-full h-full bg-black bg-opacity-80 flex justify-center items-center md:text-2xl;
}

.cameraButton .loadingOverlay > svg {
    @apply w-12 h-auto;
}

.controls {
    @apply mx-5 py-5 flex gap-2;
}

.controls .btn {
    @apply flex flex-1 bg-white bg-opacity-50 p-4 md:p-8 rounded-xl disabled:bg-opacity-10 justify-center;
}

.controls .btn svg {
    fill: #fff;
    @apply h-5 md:h-10; 
}

